<div class="container">
  <div class="row">
    <div class="col-5">
      <table class="table">
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Subtotal</th>
        </tr>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td><%= cart_item.item.price %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.item.price * cart_item.amount %>(w/tax <%= ( cart_item.item.price * cart_item.amount * 1.1 ).round %>)</td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-5">
      <table class="table">
        <tr>
          <th>Shipping Fee</th>
          <td><%= @order.shipping_fee %></td>
        </tr>
        <tr>
          <th>Total of Item Price</th>
          <td><%= @order.total_price %></td>
        </tr>
        <tr>
          <th>Total</th>
          <% total_without_tax =  @order.total_price + @order.shipping_fee %>
          <td><%= ( total_without_tax * 1.1 ).round %></td>
        </tr>
      </table>
    </div>
  </div>
</div>