<nav class="navbar navbar-expand-lg bg-body-tertiary bg-light shadow">
  <div class="container">
    <div class="row">
      <a class="navbar-brand text-dark" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
  
          <% if customer_signed_in? %>
            <%= link_to "Log Out", destroy_customer_session_path, method: :delete, class:"nav-link text-dark" %>
          <% elsif admin_signed_in? %>
            <%= link_to "Item", admin_items_path, class:"nav-link text-dark" %>
            <%= link_to "Log Out", destroy_admin_session_path, method: :delete, class:"nav-link text-dark" %>
          <% else %>
            <li class="nav-item">
              <%= link_to "Home", root_path, class:"nav-link text-dark" %>
            </li>
            <li>
              <%= link_to "Sign Up", new_customer_registration_path, class:"nav-link text-dark" %>
            </li>
            <li>
              <%= link_to "Sign In", new_customer_session_path, class:"nav-link text-dark" %>
            </li>
          <% end %>
  
        </ul>
      </div>
    </div>
  </div>
</nav>